.Topbar {
    display: flex;
    justify-content: space-between;
    position: sticky; 
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 5vh;

    .searchbar {
        position: relative;
        width: 100%;
        border-radius: 30px;
        background-color: #f0f0f0;
    }
    .searchField {
        flex: 1;
        justify-content: space-between;
        padding: 5px;
        margin-left: 20px;
    }
    // .buttons{
    //     background-color: #fff;
    //     padding-top: 5px;
    // }
}